label, button {
  margin-right: 10px;
}

.app_wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-content: center;
  min-height: 50vh;
  width: 800px;
  border: 1px solid black;
}

.app_body {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.app_body_text {
  width: 70%;
  text-align: center;
}

.app_body_nav {

}

.app_form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
}


.trans_table {
  width: 100%;
}

.trans_form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px
}

.submit_button {
  width: 130px;
  align-self: center;
}


.has-error {
  border: 1px solid red;
}

.help-block {
margin: 5px;
}